@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-gray-300;
  }
}

@layer components{
  .card{
    @apply bg-gray-800 rounded-xl p-4;
  }

  .section-title{
    @apply mb-3 text-xs md:text-sm font-semibold uppercase text-gray-400;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.2, 1.2);
    opacity: 1;
  }
  100% {
    transform: scale(0.1, 0.1);
    opacity: 0.7;
  }
}
